[Unit]
Description=Gunicorn instance to serve yummy recipe
After=network.target

[Service]
User=ubuntu
ExecStart=/bin/bash /home/ubuntu/Yummy-Recipes-Api/yummy.sh

[Install]
WantedBy=multi-user.target